*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color:#000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: black;
}

.logo{
    width: 11%;
    vertical-align: middle;
}

#about, #projects, #contact-me {
    padding-top: 100px;
}

/* Header CSS Start */

header {
    padding: 10px 15px 0px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    background-color: black;
    border-bottom: 2px solid red;
}

header a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}

header a:after {
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background-color: white;
}

header a:hover:after {
    width: 100%;
    transition: width 0.25s ease-in;
}

header nav {
    margin: 5px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
    padding: 0px 10px;
    margin: 10px;
    font-weight: darker;
    font-size: 1.30vw;
}

/* Header CSS End */

/* Hero CSS Start  */

.hero {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    background-image: url(./assets/432301-dark-abstract-geometric-wallpaper-top-free-dark-abstract.jpg);
}

.name {
    width: 70%;
    margin: 3.5%;
    width: 75%;
    text-align: left;
    color: white
  }

  .name h1 {
    color: #fff;
    padding: 0px; 
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: bold;
    display: inline;
  }

.name h2 {
    color: #fff;
    padding: 0px; 
    font-size: 28px;
    display: inline;
    font-weight: lighter;
    line-height: 1.5;
}

.color {
    color: red;
    font-weight: bolder;
}
/* Hero CSS End */

/* About Section CSS Start */

.section-title {
    font-size: 40px;
    color: red;
    border-bottom: 3px solid;
    padding-bottom: 0px;
    text-align: right;
    width: 100%;
    margin: 0px 15px 15px 10px;
}

.about-me {
    margin: 10px 25px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
  }

.about-me-info {
    flex: 2 90%;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
  }

.about-me-info-img {
    flex: 1 10%;
    margin-left: 20px;
    padding-left: 40px;
  }  

.about-me-info-img img {
    max-width: 100%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: -10px 0px;
    border: 5px solid black;
}

.about-me-text {
    flex: 12;
}

.about-me-text p {
    color: white;
    font-size: 22px;
}

.flex-row {
    display: flex;
  }
  /* About CSS End */

  /* Project CSS Start */
  .project-idea {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 0px;
  }

  .project-card-main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding-right: 17px;
  }

.project-card-main-info {
    flex: 2 50%;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
  }

.project-card-main-info-img {
    flex: 1 50%;
  }  

.project-card-main-info-img img {
    max-width: 100%;
    object-fit: cover;
    
  }

.project-card-main-text {
    flex: 12;
  }

.project-card-main-text p {
    color: rgb(255, 255, 255);
    font-size: 22px;
    padding: 25px;
}

.project-card-main-text button{
        width: 25%;
        border: none;
        background: transparent;
        color: #ff0000;
        text-align: center;
        padding: 10px 0;
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
        border: 1px solid red;
        margin: 15px;  
  }

  .project-card-main-text button:hover{
    color: rgb(0, 0, 0);
    background: red;
    border: 2px solid rgb(0, 0, 0);
  }

.project-card-main-text h3 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding-left: 25px;
}

.project-card-main-text h4 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    padding-left: 25px;
}

.project-card-main-text ul {
    color: rgb(255, 255, 255);
    font-size: 22px;
    padding-left: 45px;
}

  .project-card {
    margin: 20px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    flex: 1;
  }
  .project-card img {
    width: 100%;
  }
  .project-info {
    padding: 25px;
    line-height: 1.3;
  }

  .project-info h3 {
    font-size: 28px;
    color: black;
  }
  
  .project-info h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
    color: black;
  }

  a:link {
      text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  
  .project-info p {
    font-size: 17px;
    color: black;
  }
 /* Project CSS End  */

/* Contact Me CSS Start */

.contact-form {
    width: 50%;
    margin-top: 15px;
    background-color: #000000;
    padding: 20px;
    color: #ffffff;
    border-right: solid 3px red;
    border-left: solid 3px red;
    border-radius: 15px;
}
.contact-form input, .contact-form textarea {
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #ffffff;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .contact-form button {
    width: 100%;
    border: none;
    background: red;
    color: #000000;
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
  }
  
  .contact-form button:hover {
    color: red;
    background: #000000;
    border: 2px solid red;
  }
  .contact-form input, .contact-form textarea {
    background-color: #ffffff
  }
  
/* Footer CSS Start */

footer {
    background: black;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 2px solid red;
}

footer h2 {
    color: white;
    font-size: 22px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: white;
}

section {
    padding: 60px;
}

.about-me2 {
    background-color: black;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

/* Footer CSS End  */


